{% extends 'base.html.twig'%}

{% form_theme formChoice 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<h1>Réserver un billet</h1>
		
		{{ form_start(formChoice) }}

		{{ form_row(formChoice.visit) }}
		{{ form_row(formChoice.allDay) }}
		{{ form_row(formChoice.halfDay) }}
		{{ form_row(formChoice.number) }}

		<button type="submit" class="btn btn-success">Valider</button>

		{{ form_end(formChoice) }}

{% endblock %}