{% extends 'base.html.twig'%}
{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
{% endblock %}
{% block javascripts %}
	<script src="https://unpkg.com/js-datepicker"></script>
	<script>
		function isOpen(date){
			var day = date.getDay();
			var closed = [0,2];
			if(closed.indexOf(day)==-1) return false;
			return true;
		}
	
		const picker = datepicker("#choice_visit", {
		// Disable every Tuesday and sunday on the calendar (for any given month).
		formatter: (input, date, instance) => {
				const value = date.toLocaleDateString();
			input.value = value;
		}, 
		disabler: date => isOpen(date) })
	</script>
{% endblock %}
{% form_theme formChoice 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<h1>Réserver un billet</h1>
		
		{{ form_start(formChoice) }}

		{{ form_row(formChoice.visit) }}
		
		<div>
			<label class="switch">
				<span class="slider round"></span>
			</label>
		
		{{ form_row(formChoice.halfDay, {'attr':{'label':"switch", 'span class':"slider round"}}) }}

		</div>

		{{ form_row(formChoice.tickets) }}
		
		<button type="submit" class="btn btn-success">Valider</button>

		{{ form_end(formChoice) }}

{% endblock %}