{% extends 'base.html.twig'%}

{% block javascripts %}
<script>
document.getElementById("btn_resa").style="display:none";
</script>
{% endblock %}

{% block body %}

	<h1>Récapitulatif</h1>
		<section class="visitors">
		{{ summary.tickets }}
		{% if  summary.tickets > 1   %}
			billets 
		{% else %}
			billet
		{% endif %}

		
		{% if  summary.halfday   %}
			 demi-journée
		{% else %}
			 journée
		{% endif %}

		pour le {{ summary.visit|date('d-m-Y') }}
		


		au prix total de : {{ summary.totalPrices }} €<bt/>
		{% for ticket in summary.ticketcollection %}
			<hr/> 
			{{ ticket.name }}</br>
			{{ ticket.firstName }}</br>
			{{ ticket.birthday|date('d-m-Y') }}</br>
			{{ ticket.country }}</br>
			{% if  ticket.reduc   %}
				Réduction appliquée<br/>
			{% else %}
				Aucune reduction appliquée<br/>
			{% endif %}
			{{ ticket.tarifType }}
			{{ ticket.price }} €</br>
		{% endfor %}
		<hr/>
				<a href="{{ path('edit', {id:summary.id}) }}"class="btn btn-success">Modifier</a>
				<a href="/ticketing/{{summary.id}}/payment"class="btn btn-success">Valider</a>
		</section>

{% endblock %}


