{% extends 'base.html.twig'%}

{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/js-datepicker"></script>
<script>
document.getElementById("btn_resa").style="display:none";
</script>
{% endblock %}
{% form_theme formVisitor 'bootstrap_4_layout.html.twig' %}


{% block body %}

	
		{{ form_start(formVisitor) }}

		<h1>Votre selection</h1>
		<section class="visitors">
		{{ form_row(formVisitor.visit, {'attr':{"readonly":true}}) }}
		
		<div>
			<label class="switch">
				<span class="slider round"></span>
			</label>
		
			{{ form_row(formVisitor.halfDay, {'attr':{"onclick":"return false", 'label':"switch", 'span class':"slider round"}}) }}

		</div>

		{{ form_row(formVisitor.tickets, {'attr':{"disabled":"true"}}) }}

		pour le {{ currentChoice.visit|date('d-m-Y') }}

		<hr/>
		<h1>Merci de renseigner les informations suivantes</h1>
		{% if isnew == true %}
			{% for visitor in formVisitor.visitors %}
				<hr/> 
				{{ form_row(visitor.name, {'attr':{"value":""}}) }}</br>
				{{ form_row(visitor.firstName, {'attr':{"value":""}}) }}</br>
				{{ form_row(visitor.birthday, {'attr':{"value":""}}) }}</br>
				{{ form_row(visitor.country, {'attr':{"value":""}}) }}</br>
				{{ form_row(visitor.reduc) }}</br>
        	{% endfor %}
		{% else %}
			{% for visitor in formVisitor.visitors %}
				<hr/> 
				{{ form_row(visitor.name) }}</br>
				{{ form_row(visitor.firstName) }}</br>
				{{ form_row(visitor.birthday) }}</br>
				{{ form_row(visitor.country) }}</br>
				{{ form_row(visitor.reduc) }}</br>
        	{% endfor %}
		{% endif %}


		<button type="button" class="btn btn-success" onclick="location.href='/ticketing/'">Modifier</button>
		<button type="submit" class="btn btn-success" >Valider</button>

		{{ form_end(formVisitor) }}

{% endblock %}


